html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
    outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}


html{
    background-color:#EDEDED;;
}
.wrap{
    /*margin:0 auto;*/
    width:6.4rem; 
    height:100%;
    /*background-color:#EDEDED;*/
}
    header{
        position:fixed;
        top:0rem;
        z-index:99;
        background-color:#51BBDB;
    }
        .header-content{
            width: 6.4rem;
            padding-top:0.16rem;
            padding-bottom: 0.16rem;
            /*margin-left:0.3rem;*/
        }
            .header-return{
                float:left;
                width:1.6rem;
                font-size:0.54rem;               
            }
                .header-return a,.header-right a{
                    float: left;
                    display: block;
                    width: 0.56rem;
                    height: 0.56rem;
                    border:0.01rem solid #F9F0F5;
                    border-radius:100%;
                    /*background-color:rgba(0,0,0,0);*/
                    margin-left:0.14rem;
                    text-align:center;
                    color:#ffffff;
                    /*line-height: 0.56rem;*/
                }
                   header .header-content .header-return a svg,.header-right a svg{                  
                        /*color:#F9F0F5;*/
                        color:#ffffff;
                        font-size: 0.32rem;
                        margin-top:-0.11rem;
                        position: relative;
                        top:-0.09rem;
                    }
                    .header-return span{
                        position: relative;
                        top:0.2rem;
                        left:0.05rem;
                        float: left;
                        display: block;
                        font-size: 0.16rem;
                        color:#F9F0F5;
                    }
            .header-title{
                float:left;
                /*width:2.47rem;*/
                font-size:0.26rem;
                text-align: center;
                line-height: 0.36rem;
                color:#F9F0F5;

            }
                .header-title-content{
                    position: relative;
                    top:0.1rem;
                }
                    .header-title-content div{
                       width: 1.65rem;
                       height: 0.35rem;
                       float: left;
                       border:0.01rem solid #ffffff;
                       font-size: 0.26rem;
                    }
                    .header-title-content div:first-child{
                        background-color:#ffffff;
                        color:#50BBDB;
                        border-radius:0.04rem 0 0 0.04rem;
                    }
                    .header-title-content div:last-child{
                        border-radius:0 0.04rem 0.04rem 0;
                    }
                    .header-right{
                        float: right;
                        margin-right:0.16rem;
                    }
                    .header-right a svg{
                        display: block;
                        position:relative;
                        top:0.22rem;
                        left:0.13rem;
                    }
    .banner{
        margin-top:0.88rem;
    }
        .swiper-container{
            width: 6.4rem;
            height: 2.99rem;
            background-color:#ffffff;
        }
            .swiper-slide img{
                display: block;
                width: 6.4rem;
                height: 2.99rem;
            }
        .swiper-container .swiper-pagination-bullet{
            width: 0.24rem;
            height: 0.24rem;
        }


    .search{
        width: 6.4rem;
        background-color:#ffffff;
        padding-top:0.38rem;
        padding-bottom:0.35rem;
    }
        .search-content{
            font-size: 0.16rem;
            position:relative;
        }
            .search-input{
                width: 3.41rem;
                height: 0.41rem;
                border-radius:0.2rem;
                border:0.01rem solid #50BBDB;
                font-size:0.16rem;
                margin:0 auto;
                line-height: 0.41rem;
            }
                .search-input input{
                    position:relative;
                    left:0.24rem;
                    width:70%;
                    border:none;
                    background-color:rgba(0,0,0,0);
                }
            .search-content a{
                position:absolute;
                top:0.081rem;
                left:4.4rem;
                font-size: 0.26rem;
                color:#50BBDB;
            }
    .main{

    }
        .main-content{
            padding-bottom:0.88rem;
        }
            .jingnei{

            }
                .jingnei-content{
                    font-size: 0.28rem;
                    padding-top:0.17rem;
                    padding-bottom:0.25rem;
                    background-color:#ffffff;
                }
                    .jingnei-content div{
                        position:relative;
                        top:0.14rem;
                        width: 2.6rem;
                        border-bottom:0.01rem solid #CCCCCC;
                    }
                        .jingnei-content div:first-child{
                            position:relative;
                            left:0.1rem;
                        }
                        .jingnei-content div:last-child{
                            position:relative;
                            left:-0.1rem;
                        }
                    .jingnei-content div,.jingnei-content svg,.jingnei-content span{
                        float: left;
                    }
                    .jingnei-content svg{
                        color:#CCCCCC;
                    }
            .main-section{
                position:relative;
                font-size: 0.22rem;
                /*background-color:#ffffff;*/
                padding-bottom:0.19rem;
            }
                .main-section-img{
                    position:relative;
                }
                    .main-section-img img{
                        width: 6.4rem;
                        height: 2.98rem;
                    }
                    .main-section-img p:nth-child(2){
                        position:absolute;
                        top:0;
                        padding-left:0.3rem;
                        display: block;
                        width: 6.1rem;
                        padding-top:0.1rem;
                        padding-bottom:0.19rem;
                        color:#ffffff;
                        background-color:rgba(0,0,0,0.29);
                        font-size: 0.3rem;
                    }
                    .main-section-img p:nth-child(3){
                        position:absolute;
                        bottom:0;
                        padding-left:0.3rem;
                        width: 6.1rem;
                        padding-top:0.07rem;
                        padding-bottom:0.09rem;
                        display: block;
                        color:#ffffff;
                        background-color:rgba(0,0,0,0.29);
                        border-bottom:0.01rem solid #8F8F8F;
                    }
                .main-section-bottom{
                    padding-top:0.13rem;
                    padding-bottom:0.17rem;
                    background-color:#ffffff;
                    padding-left:0.3rem
                }
                    .main-section-bottom p{
                        color:#333333;
                    }
                .main-section-bottom i{
                    position:absolute;
                    top:2.4rem;
                    left:5.27rem;
                    display: block;
                    width: 1.01rem;
                    height: 1.01rem;
                    border:0.05rem solid #ffffff;
                    border-radius:50%;
                    background-color:#EB6417;
                }
                    .main-section-bottom i p{
                        display: block;
                        padding:0.07rem 0;
                        font-style:normal;
                        color:#ffffff;
                        font-size: 0.18rem;
                        text-align:center;
                    }
                    .main-section-bottom i p:first-child{
                        margin-top:0.173rem;
                    }
                    .main-section-bottom i p:last-child{
                        border-top:0.01rem solid #ffffff;
                    }



                .more{
                    padding-bottom:0.14rem;
                    width: 6.4rem;
                    margin:0 auto;
                }
                    .more-content{
                        width: 1.23rem;
                        margin:0 auto;
                        font-size: 0.28rem;
                        color:#EB6417;
                    }


            .footer-up{
                width: 6.4rem;
                height: 0.08rem;
            }



            footer{
                width: 6.4rem;
                position:fixed;
                bottom:0;
                background-color:#ffffff;
            }
                .footer-content{
                    display: flex;

                    /*width: 5.46rem;*/
                    padding:0.13rem 0;
                }
                    .footer-content-section{
                        flex:1;
                        /*float: left;*/
                        color:#333333;
                        text-align: center;
                        cursor:pointer;
                    }
                        .footer-content-section p{
                            font-size: 0.2rem;
                        }
                        .footer-content-section svg{
                            font-size: 0.44rem;
                            margin-bottom:0.1rem;
                        }
                    .footer-content-section:first-child{
                        color:#50BBDB;
                    }