html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
    outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}



.wrap{
    /*margin:0 auto;*/
    width:6.4rem; 
}
    header{
        position:fixed;
        top:0rem;
        z-index:99;
        background-color:#51BBDB;
    }
        .header-content{
            padding-top:0.16rem;
            padding-bottom: 0.16rem;
            /*margin-left:0.3rem;*/
        }
            .header-return{
                float:left;
                width:1.94rem;
                font-size:0.54rem;               
            }
                .header-return a{
                    margin-left:0.19rem;
                    color:#F9F0F5;
                }
            .header-title{
                float:left;
                width:2.47rem;
                font-size:0.26rem;
                text-align: center;
                line-height: 0.36rem;
                color:#F9F0F5;

            }
                .header-title h4{
                    font-size: 0.18rem;
                }
            .header-menu{
                float:left;
                width: 1.97rem;
            }
                .header-menu a{
                    float:left;
                    width:1.94rem;
                    font-size:0.54rem;   
                    text-align: right;
                    /*line-height: 0.9rem;*/
                    color:#F9F0F5;
                }
        .main{

        }
            .main-content{
                margin-top:0.90rem;
            }
/*main-section*/
                .main-section{
                    margin-top:0.03rem;
                    margin-bottom:0.14rem;
                }
                    .main-section-image{
                        position: relative;
                        float: left;
                        width: 1.94rem;
                    }
                        .main-section-image img{
                            width: 1.8rem;
                            height: 1.8rem;
                        }
                        .main-section-image span{
                            position:absolute;
                            top:1.5rem;
                            display: block;
                            width: 1.8rem;
                            height: 0.3rem;
                            font-size: 0.18rem;
                            color:#F9F0F5;
                            text-align:center;
                            line-height: 0.3rem;
                            background-color:rgba(0,0,0,0.5);
                        }
                    .main-section-right{
                        float: left;
                        width: 4.46rem;
                    }
                        .main-section-right-content{
                            color:#3D3D3D;
                        }
                            .main-section-right-content p:first-child{
                                font-size: 0.25rem;
                                line-height: 0.42rem;
                            }
                            .main-section-right-content p:last-child{
                                color:#A9A9A9;
                                font-size: 0.18rem;
                                line-height: 0.42rem;
                            }
                        .main-section-right-bottom{
                            margin-top:0.12rem;
                            color:#3D3D3D;
                        }
                            .main-section-right-position{
                                float:left;
                                width:3.23rem;
                            }
                                .main-section-right-position img{
                                    float:left;
                                    display:block;
                                    width:0.29rem;
                                    height:0.37rem;
                                }
                                .main-section-right-position p{
                                    float:left;
                                    display:block;
                                    margin-top:0.125rem;
                                    margin-left:0.08rem;
                                    font-size:0.18rem;
                                }
                            .main-section-right-price{
                                position: relative;
                                top:0.05rem;
                                float:left;
                                width:1.23rem;
                            }
                                .main-section-right-price p{
                                    font-size: 0.28rem;
                                    color:#D04B1B;
                                }
                                    .main-section-right-price p span{
                                        font-size: 0.16rem;
                                    }
/*main-sectioned*/
        footer{          
            position:fixed;
            width:6.4rem;
            bottom:0rem;
            background-color:#ffffff;
            padding-top:0.08rem;
            padding-bottom:0.08rem;
            border-top:1px solid #C9CED2;
        }
            .footer-content{
                margin:0 auto;
                width:5.62rem;
            }
                .footer-section{
                    float: left;
                    width:0.76rem;
                    margin-right:0.84rem;
                    cursor:pointer;
                }
                    .footer-section-icon{
                        margin-bottom:0.12rem;
                    }
                        .footer-section-icon img{
                            display: block;
                            margin:0 auto;
                            width: 0.51rem;
                            height: 0.51rem;
                        }
                    .footer-section-p{
                        text-align: center;
                    }
                        .footer-section-p p{
                            font-size: 0.18rem;
                        }
                .footer-section:first-child div p{
                    color:#5FABBF;
                }
                .footer-section:last-child{
                        margin-right:0;
                    }
    .cover{
        position:fixed;
        top:0;
        width:6.4rem;
        display:none;
        z-index:999;
    }
        .cover-content{
            font-size: 0.18rem;
        }
            .cover-tran{
                /*position:fixed;*/
                /*top:0;*/
                height:9rem;
                background-color:rgba(0,0,0,0.5);
                /*z-index:1000;*/
            }
            .cover-menu{
                position:fixed;
                bottom:0;
            }
                .cover-menu-top{
                    color:#F9F0F5;
                    width:6.4rem;
                    background-color:#51BBDB;
                }
                    .cover-menu-top-cancel{
                        float:left;
                        width:2.14rem;
                    }
                        .cover-menu-top-cancel p{
                            display:block;
                            width: 0.59rem;
                            height: 0.7rem;
                            margin-left:0.3rem;
                            text-align:left;
                            line-height:0.7rem;
                            cursor:pointer;
                        }
                    .cover-menu-top-empty{
                        float:left;
                        width:2.27rem;
                    }
                        .cover-menu-top-empty p{
                            text-align:center;
                            line-height:0.7rem;
                        }
                    .cover-menu-top-ok{
                        float:left;
                        width:1.99rem;
                    }
                        .cover-menu-top-ok p{
                            margin-right:0.3rem;
                            text-align:right;
                            line-height:0.7rem;
                        }
                .cover-menu-main{
                    width:6.4rem;
                    height:3.5rem;
                }
                    .cover-menu-main-select{
                        float:left;
                        overflow:auto;
                        width:1.96rem;
                        height:3.5rem;
                        background-color:#EBEBEB;
                    }
                        .cover-menu-main-select ul{
                            list-style:none;
                        }
                            .cover-menu-main-select ul li{
                                display:block;
                                width:1.66rem;
                                height:0.68rem;
                                text-align:left;
                                line-height:0.68rem;
                                padding-left:0.3rem;
                            }
                                .cover-menu-main-select ul li:first-child{
                                    background-color:#ffffff;
                                }
                    .cover-menu-main-sub{
                        overflow:auto;
                        float:left;
                        width:4.44rem;
                        height:3.5rem;
                        background-color:#ffffff;
                    }
                        .cover-menu-main-sub ul{
                            list-style:none;
                        }
                            .cover-menu-main-sub ul li{
                                display:block;
                                width:3.4rem;
                                height:0.68rem;
                                line-height:0.68rem;
                                padding-left:0.6rem;
                                margin-left:0.18rem;
                                border-bottom:1px solid #D9D9D9;
                            }
                            .cover-menu-main-sub ul li:last-child{
                                border-bottom:0;
                            }
                                .cover-menu-main-sub ul li div{
                                    float:right;
                                    width:0.4rem;
                                    height: 0.31rem;
                                    border:1px solid #D9D9D9;
                                    margin-top:0.19rem;
                                }
                                    .cover-menu-main-sub ul li div a{
                                        position:relative;
                                        display:none;
                                        top:-0.2rem;
                                        left:-0.06rem;
                                        font-size:0.5rem;
                                        color:#51BBDB;
                                    }
                                /*.cover-menu-main-sub ul li:first-child div{
                                    border:1px solid #51BBDB;
                                }
                                    .cover-menu-main-sub ul li:first-child div a{
                                        display:block;
                                        
                                    }*/